<footer class="footer">
  
  <a href="/index.html"><i class="fas fa-home"></i></a>
  <a href="http://www.linkedin.com/in/ddfabbro" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.github.com/ddfabbro" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://hub.docker.com/u/ddfabbro/" target="_blank"><i class="fab fa-docker"></i></a>
  <a href="mailto:fabda01@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
  
  <div class="post-date">
    &copy; 2018 <a href="{{ site.github.url }}">{{ site.title }}</a>
    <br>
    The source code to generate this website is <a href="https://github.com/ddfabbro/ddfabbro.github.io">openly available on GitHub</a>
  </div>

</footer>
