<header class="masthead">
  
  <h3 class="masthead-title">
    
    {% if page.title == site.title %}
      <a>{{ site.title }}</a>
    {% else %}
      <div style="float: left">
        <a>{{ page.title }} - {{ site.title }}</a>
      </div>
      <div style="float: right">
        <span style="display:inline-block; vertical-align:top">
          <a href="http://ddfabbro.com"><i class="fas fa-home fa-sm"></i></a>
        </span>
      </div>
      <div style="margin: 0 auto; width: 100px;">
        &#8203;
      </div>
    {% endif %}
    
  </h3>
  
</header>
